body{
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color:#4B4B4B;
    margin:0;
    padding:0;
}
h1{
    font-weight: normal;
    line-height: normal;
}
a{
    text-decoration: none;
}
header{
    
    height:768px;
}
.overlay{
    position:absolute;
    left:0; top:0;
    width:100%;
    height:768px;
    z-index:-1;
    background-color:black;
    opacity:0.5
}
.background{
    position:absolute;
    left:0; top:0;
    width:100%;
    height:768px;
    z-index:-2;
    background:url('../images/header/Background.png') no-repeat;
    background-size: cover;
}
.is-front{
    position:absolute;
    z-index:9999px;

}
#header-nav{
    display:flex;
    width:79.2%;
    margin:0 auto;
    justify-content:center;
    position:relative;
}
nav{
margin-top:67px;
display:block;
width: 509px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    
    list-style:none;
    padding-left:0;
    margin:0;
    font-size: 18px;
    
}
nav ul a{
    text-decoration:none;
    color:white;
}
.HOFMANN-loglo{
    
    margin-top:48px;
    color: #EBCB80;
    position:absolute;
    left:0;

    font-size: 36px;
}
.social{
    display:flex;
    margin-top:60px;
    position:absolute;
    right:0;
    width:165px;
    height:24px;
    
    justify-content:space-between;
}

.title-text{
    line-height: 48px;
    font-size: 44px;
    text-align:center;

}
.title-header{
    color:white;
    display:block;
    width:620px;
    margin: 74px auto 53px auto;
}
.items-center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.video-frame{
    width: 555px;
    height: 324px;
    position:relative;
    margin:auto;
}
.video-frame > img{
    height:100%; width:100%;
}
.is-button{
    display:block;
    width: 210px;
    height: 48px;
    background: #EBCB80;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.0625em;
    border-radius: 50px;
    text-decoration:none;
    text-align:center;
    padding-top:15px;
    box-sizing:border-box;
    color:#3C3C3C;
    cursor:pointer;
}
.playbutton{
    cursor: pointer;
    width:72px;
    height:72px;
    position:absolute;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.scroll-down{
    width: 16px;
    height: 6.67px;
    display:block;
    margin:87px auto;
}
/*advantages*/
#Advantages{
    height:768px;
}
.clearfix{
    clear:both;
}
.title-advantages{
    margin-top:80px;
}
.title-advantages-mini{
    line-height: 30px;
    font-size: 18px;
    margin-top:32px;
}
.Advantages-content{
    margin:65px 72px 89px 162px;
    height:464px;
    display:flex;
    flex-direction:row-reverse;
    
}
.Advantages-content>img{
    float:right;
}
.Advantages-content-box{
    margin-top:35px;
    display:flex;
    
}
.content-img{
    width:73px;
    flex-shrink:0;
}
.content-img img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.content-text p{
    display:block;
    margin: 0 49px 17px 20px;
}
/*end advantages*/
.cta{
    margin:0;
    height:588px;
    background:linear-gradient(0deg, #4B4B4B, #4B4B4B),url('../images/cta/Backgroundcta.png') no-repeat;
    background-blend-mode: soft-light, normal;
    background-size: cover;
    background-position: bottom;
    color:white;
    
}
.cta h1{
    margin-top:0;
    padding-top:163px;
    line-height: 48px;
}
.cta p{
    width:555px;
    text-align:center;
    margin:0 auto;
}
.cta-download{
    
    margin:42px auto;
}
/*end cta*/
.testimonials{
    height:876px;
    width:100%;
}
.testimonials h1{
    margin-top:71.67px;
}
.container{
    width:79.3%;
    height:681px;
    margin: 30px auto;
    padding:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:auto;
}
.card{
    width:47%;
    height:322.5px;
    display:flex;
    padding: 46.79px 38px;
    box-sizing:border-box;
}
.separator{
    background:url("../images/testimonials/separator.png");
    width:100%;
    height:2px;
}
.card-img{
    margin-right:28px;
}
.card-social a{
    text-decoration:none;
    margin-right:8.5px;
}
.name{
    color:black;
    margin-bottom:5px;
    margin-top:0px;
}
.position{
    margin-top:0;
    color:#7D7D7D;
}
.hover-border:hover{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
/*end testimonials*/
.pricing{
    height:680px;
    background: #F6F6F6;
}
.pricing>h1{
    padding-top:68px;
}
.pricing-container{
    width:946px;
    display:flex;
    justify-content:space-between;
    padding:10px;
    margin:52px auto;
    z-index:-3;
}
.planbox{
    position:relative;
    width: 270px;
    height: 396px;
    padding:40px 30px;
    box-sizing:border-box;   
    text-align:center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius:8px;
}

.price-overlay{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
     box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.planbox>p:first-child{
    font-size: 18px;
    margin-top:0;
    
}
.price{
    
    display:flex;
    justify-content:center;
}
.num{
    margin:0;
    line-height: 48px;
    font-size: 64px;
    
}
.usd{
    margin:0;
    line-height: normal;
    font-size: 24px;
}
.year{
    margin:15px auto 23px auto;
}

.planbox a{
    margin:30px auto;
}
.planbox-sliver{
    color:white;
    background: #4B4B4B;

}
.planbox-sliver .price-overlay{
    background: linear-gradient(213.44deg, rgba(255, 255, 255, 0.7) -10.49%, rgba(255, 255, 255, 7e-05) 75.76%);
    opacity:0.5;
   
}
.planbox-sliver>p:first-child,.planbox-platinum>p:first-child{
    color:#EBCB80;
    font-weight:bold;
}
.planbox-gold{
    background: #EBCB80;
    z-index:0;
}
.planbox-gold a{
    background:#4B4B4B;
    color:white;
}
.planbox-gold .price-overlay{
    background: linear-gradient(214.29deg, rgba(255, 255, 255, 0.496575) -18.27%, rgba(255, 255, 255, 0.0001) 81.73%);
    background-blend-mode: soft-light;
    z-index:-1;
}
.planbox-platinum{
    background: #4B4B4B;
    color:white;
    z-index:0;
}
.planbox-platinum .price-overlay{
    background: linear-gradient(212.89deg, rgba(0, 0, 0, 0.0001) -12.37%, rgba(0, 0, 0, 0.401127) 80.15%);
    background-blend-mode: multiply;
    z-index:-1;
}
/*end Pricing*/
.projects > .title-text{
    margin:66px auto 54px;
}
.projects-container{
    background-color: #FFF;
    width: 79.1%;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.row{
    width: 100%;
    display: flex;
    margin:0;
}
.col4{
    min-width:33.33%;
    width:33.33%; height:100%;
}
.col8{
    width:66.66%;
    height:100%;
}
.pic-text-box{

    position:relative;
    display:flex;
    
    justify-content:flex-end;
    align-items:center;
}
.pic-text-box>img{
    width:100%;
    height:100%;
}
.text-box{
    position:absolute;
    padding:40px 40px 50px;
    box-sizing:border-box;
    width:50%;
    color:white;
}
.text-box .title-text{
    margin:0;
    text-align:left;
    font-family: Roboto;
    line-height: 42px;
    font-size: 32px;
    letter-spacing: -0.025em;
}
.text-box p:nth-child(2){
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.0555556em;
}

.text-box p:nth-child(4){
    line-height: 24px;
font-size: 16px;
}
.view-like-cmt{
    display:flex;
    justify-content:space-around;
}
.view-icon{
    background:url('../images/project/view.png') no-repeat;
    width:18px;
    height:11px;
    display:inline-block;
    padding-right:5px;
}

.like-icon{
    background:url('../images/project/like.png') no-repeat;
    width:18px;
    height:11px;
    display:inline-block;
    padding-right:5px;
}

.cmt-icon{
    background:url('../images/project/cmt.png') no-repeat;
    width:18px;
    height:11px;
    display:inline-block;
    padding-right:5px;
}
.rec-white{ /* white-rectange separator*/
    margin:33px 0;
}
.project-card{
    position:inherit;
    color:inherit;
    background-color:#F6F6F6;
    padding:60px 60px 0px 45px;
    box-sizing:border-box;
    height:auto;
}
.rec-black{
    margin:31px 0 37px;
}
.project-card >p:last-child{
    margin:0;
    line-height: 54px;
    font-size: 64px;
    
    letter-spacing: -0.03125em;
}
.pagination{
    text-align:center;
    margin:69px auto 75px;
    display:flex;
    width:327px;
    height:32px;
    justify-content:space-between
}

.pagination span{
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    line-height: 24px;
    font-size: 18px;
    width:32px; height:32px;
}
.active{
    color: #EBCB80;
    border-radius:16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
/*end project*/
.team{
    display:flex;
    justify-content:flex-end;
    color:white;
    height: 590px;
    background: linear-gradient(0deg, rgba(75, 75, 75, 0.2), rgba(75, 75, 75, 0.2)), url('../images/team/background.png');
    background-blend-mode: multiply, normal;
    background-size:cover;
}
.team-container{
    width:43%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding-bottom:68px;
    
}
.team-container .title-text{
    text-align:left;
    line-height: 42px;
    font-size: 32px;
    margin-bottom:7px;
}
.team-container p:nth-child(2){/*Chief Engineer*/
    font-size: 18px;
    letter-spacing: 0.0555556em;
    margin:0 0 22px;
}
.team-container p:nth-child(1){ /*I 've staterd...'*/
    width:60%;
    line-height: 20px;
    margin:0;
}
.slide-content{
    display:flex;
    
    justify-content:space-between;
}
.slide-dot{
    display:flex;
    justify-content:space-between;
    margin-right:149px;
    flex-direction:column;
    height:95px;
    
}
.slide-dot> span{
     display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    line-height: 24px;
    font-size: 18px;
    width:10px; height:10px;
    background:url('../images/team/dot.png');
}
.slide-dot .dot-active{
    background:url('../images/team/dot-active.png');
}
/*end team*/
.contact .title-text{
    margin-top:67px;
    margin-bottom:0;
    line-height: 48px;
    letter-spacing: -0.0363636em;
    color: #4B4B4B;
}
.contact-container{
    width:80%;
    
    margin: 0 auto;
    display:flex;
    justify-content:space-between
}
.iphone-app{
   
    position:relative;
    width:30%;
    display:flex;
    justify-content:center;
}
.iphone-app img:nth-child(2){
    position:absolute;
    bottom:0;
}
.contact-form{
    width:30%;
}
.contact-form form{
    flex-direction:column;
}
.contact-form input{
    width:100%;
    margin-bottom:38px;
    padding:4px 0px 5px 0px;
    border:none;
    border-bottom: solid 1px #7D7D7D;
    font-size:18px;
    letter-spacing: 0.01em;

}
.form-line{
    display:flex;
    justify-content:space-between;
}
.form-line input{
    width:46%;
}
.contact-form input[type="submit"]{
   width:210px;
    padding:initial;
    margin-top:20px;
    margin-bottom:0;
    border: none;
    text-align: center;
    letter-spacing: 0.0625em;
    font-size:16px;
}
.contact-address{
    width:30%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    line-height: 20px;
    font-size: 16px;
}
.address-line{
    display:flex;
    align-items:flex-start;
    margin-bottom: 24px;
}
.address-line p{
    margin: 0;
}
.address-line .address-pic{
    width:17px;
    margin-right: 12px;
}
.contact-social{
    width: 280px;
    display:flex;
    justify-content:space-between;
    margin-top: 19px;
}
.map{
    position:relative;
    background-color:#4B4B4B;
}
.tool-tip{
    position:absolute;
    left:761px;
    top:201px;
}
.tool-tip p{
    position:absolute;
    left:29px;
    top:21px;
    padding:0;
    margin:0;
    font-size: 12px;
    color: #000000;
}
iframe{
    background-color:#4B4B4B;
    width:100%;    
}

/*end contact*/
footer{
    margin:0;

    background-color:#4B4B4B;
}
.footer-container{
    width:80%;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    padding-bottom:51px;
}
.left-box{
    width: 270px;
    color: white;
}
.left-box .title-text{
    margin:38px 0 8px;
    text-align:left;
    text-indent:12px;
    font-size: 36px;
text-align: left;
letter-spacing: 0.0554719em;
color: #EBCB80;
}
.left-box p{
    line-height: 24px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom:24px;
}
.left-box p:nth-child(4){
    color:#631111
    font-size: 18px;
    letter-spacing: 0.0555556em;
    margin-bottom:19px;
}
.email-box form{
    display:flex;
}
.email-box input[type="email"]{
    display:block;
    padding: 10px 18px;
    line-height: 27px;
    font-size: 16px;   
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    background: #4B4B4B;
    border: 1px solid #7D7D7D;
    box-sizing: border-box;
    border-radius: 4px;
    width: 211px;
    height: 48px;
}
.email-box input::placeholder {
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.email-box input[type="submit"]{
    display:block;
    width: 51px;
    height: 48px;
    border-radius: 0 4px 4px 0;
    background: #EBCB80 url("../images/footer/SUBSCRIBE.png") no-repeat center;
}
.right-box{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end;
    color:white;
}
.navigation-text {

     width:100%;   
     margin-bottom:47px;
    display:flex;
    justify-content:space-between;
   
}
.navigation-text a{
    display:block;
    margin-top:14px;
    font-size: 18px;
    color:white;
}
.follow-us p{
    font-size: 18px;
letter-spacing: 0.0555556em;
margin-bottom:24px;

}